.applicable {
  height: 50px;
  position: relative;
}

.applicable-table {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.applicable-cell {
  display: table-cell;
  vertical-align: middle;
}

.no-transition * {
  transition: none !important;
}

.width-container {
  margin-top: 48px;
  width: 100%;
}

.width {
  //display: flex;
  display: grid;
  grid-template-columns: 2fr auto auto;
  gap: 32px;
  align-items: center;
  height: 50px;
}
