$height: 64px;

.interaction-state {
  width: 100%;

  button {
    width: 100%;
  }
}

.example-states {
  align-items: center;
  display: grid;
  column-gap: 16px;
  row-gap: 8px;
  width: 100%;
  height: calc($height * 3);

  grid-template-columns: repeat(2, minmax(0, 1fr));

  // Override global button alignment so KButtons with different heights
  :global(.k-btn) {
    align-self: center;
  }
}

.missingState {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: red;
}

@media (min-width: 768px) {
  .example-states {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    height: calc($height * 2);
  }
}

@media (min-width: 1024px) {
  .example-states {
    grid-template-columns: repeat(6, minmax(0, 1fr));
    height: $height;
  }
}
