$height: 64px;

.interaction-state {
  width: 100%;

  button {
    width: 100%;
  }
}

.example-states {
  align-items: center;
  display: grid;
  column-gap: 16px;
  row-gap: 8px;
  width: 100%;
  height: calc($height * 3);

  grid-template-columns: repeat(2, minmax(0, 1fr));

  // Override global button alignment so KButtons with different heights
  :global(.k-btn) {
    align-self: center;
  }
}

.missingState {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: red;
}

.state-section {
  width: 100%;
}

.state-title {
  margin: 0 0 12px;
}

.emphasis-title {
  align-items: center;
  display: flex;
  font-size: 14px;
  font-weight: 500;
  margin: 16px 0;
  gap: 12px;
  color: rgba(0, 0, 0, 0.16)
}

.emphasis-divider {
  flex: 1;
  height: 1px;
  background: rgba(0, 0, 0, 0.04);
}

.section-divider {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  margin: 16px 0 24px;
  width: 100%;
}

@media (min-width: 768px) {
  .example-states {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    height: calc($height * 2);
  }
}

@media (min-width: 1024px) {
  .example-states {
    grid-template-columns: repeat(6, minmax(0, 1fr));
    height: $height;
  }
}
