# Logs
logs
*.log
pnpm-debug.log*

# Runtime data
node_modules
dist
build
packages/showcase/public/build/
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# AI Agents
.output.txt
docs/in-progress.md

# Tests
coverage

# Temporary
color.generated.ts
packages/presets/src/tools/colors
packages/presets/src/tools/color.layers.ts
