.k-smooth-text {
  display: inline-grid;
  grid-template-areas: "stack";
  align-items: center;
  width: max-content;
  vertical-align: inherit;
}

.k-smooth-text__item {
  grid-area: stack;
  white-space: nowrap;
  display: inline-block;
  text-align: center;
}

.k-smooth-text__exiting {
  animation: k-fadeOut 600ms ease forwards;
  pointer-events: none;
  user-select: none;
}

.k-smooth-text__entering {
  animation: k-fadeIn 600ms ease forwards;
}

@keyframes k-fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes k-fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}
