.aq {
  padding-top: 5;
}
.ar {
  padding-top: 7;
}
.as {
  padding-top: 9;
}
.at {
  padding-top: 17;
}
.au {
  padding-top: 37;
}
.av {
  padding-top: 7px;
}
.aw {
  padding-top: 17px;
}
.ax {
  color: #6750a4;
}
.ay {
  color: #d50060;
}
.az {
  color: #ffffff;
}
.ba {
  color: #1d192b;
}
.bb {
  color: #1b1a1e61;
}
.bc {
  color: #381e72;
}
.be {
  padding-bottom: 5;
}
.bf {
  padding-bottom: 7;
}
.bg {
  padding-bottom: 9;
}
.bh {
  padding-bottom: 17;
}
.bi {
  padding-bottom: 37;
}
.bj {
  padding-bottom: 7px;
}
.bk {
  padding-bottom: 17px;
}
.bl {
  padding-left: 7;
}
.bm {
  padding-left: 15;
}
.bn {
  padding-left: 17;
}
.bo {
  padding-left: 23;
}
.bp {
  padding-left: 37;
}
.bq {
  padding-left: 7px;
}
.br {
  padding-left: 17px;
}
.bs {
  padding-right: 15;
}
.bt {
  padding-right: 17;
}
.bu {
  padding-right: 23;
}
.bv {
  padding-right: 37;
}
.bw {
  padding-right: 7px;
}
.bx {
  padding-right: 17px;
}
