.bj {
  padding-top: 5;
}
.bk {
  padding-top: 9;
}
.bl {
  padding-top: 17;
}
.bm {
  padding-top: 37;
}
.bn {
  padding-top: 7px;
}
.bo {
  padding-top: 18px;
}
.bp {
  padding-top: 5px;
}
.bq {
  padding-top: 17px;
}
.br {
  padding-top: 16px;
}
.bs {
  padding-bottom: 5;
}
.bt {
  padding-bottom: 9;
}
.bu {
  padding-bottom: 17;
}
.bv {
  padding-bottom: 37;
}
.bw {
  padding-bottom: 7px;
}
.bx {
  padding-bottom: 18px;
}
.by {
  padding-bottom: 5px;
}
.bz {
  padding-bottom: 17px;
}
.ca {
  padding-bottom: 16px;
}
.cb {
  padding-left: 14;
}
.cc {
  padding-left: 15;
}
.cd {
  padding-left: 16;
}
.ce {
  padding-left: 17;
}
.cf {
  padding-left: 23;
}
.cg {
  padding-left: 37;
}
.ch {
  padding-left: 7px;
}
.ci {
  padding-left: 18px;
}
.cj {
  padding-left: 5px;
}
.ck {
  padding-left: 17px;
}
.cl {
  padding-left: 16px;
}
.cm {
  padding-right: 14;
}
.cn {
  padding-right: 15;
}
.co {
  padding-right: 16;
}
.cp {
  padding-right: 17;
}
.cq {
  padding-right: 23;
}
.cr {
  padding-right: 37;
}
.cs {
  padding-right: 7px;
}
.ct {
  padding-right: 18px;
}
.cu {
  padding-right: 5px;
}
.cv {
  padding-right: 17px;
}
.cw {
  padding-right: 16px;
}
.cx {
  margin-right: 4;
}
.dc {
  color: #6750a4;
}
.dd {
  color: #d50060;
}
.de {
  color: #979798;
}
.df {
  color: #ffffff;
}
.dg {
  color: #1d192b;
}
.dh {
  color: #1b1a1e61;
}
.di {
  color: #381e72;
}
