.minha-classe {
  background-color: red;
  color: white;
}
.c-#6750A4 {
  color: #6750a4;
}
.c-#6750A4 {
  color: #6750a4;
}
.c-#d50060 {
  color: #d50060;
}
.c-#FFFFFF {
  color: #ffffff;
}
.c-#1D192B {
  color: #1d192b;
}
.c-#6750A4 {
  color: #6750a4;
}
.c-#FFFFFF {
  color: #ffffff;
}
.c-#1b1a1e61 {
  color: #1b1a1e61;
}
.c-#d50060 {
  color: #d50060;
}
.c-#1b1a1e61 {
  color: #1b1a1e61;
}
.c-#381E72 {
  color: #381e72;
}
